.Intro {
  display: flex;
  flex-flow: column nowrap;
  height: 85%;
  width: 100%;
  pointer-events: none;
  .Header {
    margin: auto;
    height: 66%;
    width: 66%;
    text-align: center;
    font-size: 3rem;
    letter-spacing: 7px;
    .title {
      margin: 4rem auto 3rem;
      animation: fadeOver 2s ease-in-out 0.5s forwards;
      opacity: 0;
      filter: drop-shadow(0 8px 5px rgba(30, 30, 30, 0.6));
    }
    .subtitle {
      margin: 1rem auto;
      font-size: 0.88rem;
      font-weight: lighter;
      opacity: 0;
      animation: fadeOver 2s ease-in-out 1s forwards;
      letter-spacing: 5px;
    }
  }
}
.instruction {
  opacity: 0;
  animation: fadeOver 3s ease-in-out 2s forwards;
  margin-bottom: 3rem;
  .instruction-name {
    border: 1px solid black;
    border-radius: 3px;
    padding: 3px 6px;
    letter-spacing: 1px;
    font-weight: bolder;
  }
}

.Menu {
  position: absolute;
  width: 66%;
  height: 50%;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  font-family: "Joan";

  h3 {
    margin: auto;
  }
  .menu-buttons {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 66%;
    margin: auto;
    button {
      width: 66%;
      margin: 1rem;
      padding: 0.3rem 0;
      background: none;
      outline: none;
      border: none;
      filter: drop-shadow(0 0 1px black);
    }
    button:hover {
      transform: scale(1.1);
      filter: drop-shadow(0 0 3px rgba(10, 10, 10, 0.5));
    }
  }
}

@keyframes fadeOver {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
