@use "./Menu/Menu.scss";
button:hover {
  cursor: pointer;
}
.decor-x {
  animation: x-spin 17s infinite;
  font-size: 0.33rem;
  // height: 2rem;
  // width: 0.67rem;
  margin: 0 1rem;
  text-decoration: line-through;
}
.score-board {
  display: flex;
  width: 97%;
  justify-content: space-between;
  align-items: center;
  margin: 1rem auto;
  .score-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(15, 15, 15, 0.9);
    color: white;
    border-radius: 3px;
    pointer-events: none;
    .score-value {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.33rem;
      margin-top: 1rem;
    }
    .score-dongles {
      display: flex;
      margin: 0.5rem auto 1rem;
      opacity: 0.8;
      .score-label {
        text-decoration: overline;
        font-size: 0.66rem;
      }
    }
  }
  .proceed {
    right: 13%;
    top: 50%;
    background: none;
    background-color: rgba(30, 30, 30, 0.85);
    color: white;
    border-radius: 3px;
    font-size: 0.5rem;
  }
  .proceed:hover {
    cursor: pointer;
    transform: scale(1.03);
  }
  .proceed[disabled] {
    opacity: 0.17;
    pointer-events: none;
  }
  .proceed > button {
    border: none;
    background: none;
    color: white;
    font-family: monospace;
  }
  .proceed > button::after {
    content: " >";
    font-size: 1rem;
  }
}
h3 {
  text-align: right;
  margin: 0 auto;
}
h3 + button {
  margin: 0 0 auto auto;
}
.game-container {
  display: flex;
  flex-flow: column nowrap;
  height: 90%;
  width: 90%;
  justify-content: space-between;
  border: 3px solid rgba(0, 0, 0, 0.329);
  border-radius: 5px;
  .grid-container {
    width: 50%;
    height: 50%;
    display: grid;
    gap: 13px;
    margin: 0 auto 7%;
    padding: 3rem;
    border-radius: 0.33rem;
    box-shadow: inset 0px 5px 8px 3px rgba(30, 30, 30, 0.17);
    .cell-container {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 3px;

      .show,
      .hidden,
      .solved,
      #powerup.claimed {
        width: 90%;
        height: 90%;
        border-radius: 3px;
        transition: all 0.17s;
      }
      .show,
      .solved,
      .laimed {
        pointer-events: none;
      }
      .hidden {
        background-color: rgba(15, 15, 15, 0.9);

        box-shadow: 0 0 8px 4px rgba(30, 30, 30, 0.17);
        color: black;
      }
      .show:hover {
        box-shadow: 0 0 12px 1px rgba(30, 30, 30, 0.171);
        transform: scale(1.03);
      }
      .hidden:hover {
        transform: scale(0.97);
      }
      .solved {
        border: 2px solid green;
      }
      .claimed {
        box-shadow: 0 0 16px 1px rgba(255, 217, 0, 0.292);
        border: none;
      }
      #powerup.claimed::after {
        // position: relative;
        box-shadow: 0 0 16px 4px rgba(255, 217, 0, 0.292);
        background: none;
        border-radius: 50%;
        border: 0px solid white;
        animation: shine 1s infinite;
      }
    }
  }
}

@keyframes flip {
  0% {
    width: 100%;
  }
  50% {
    width: 0%;
  }
  100% {
    width: 100%;
    background-color: rgba(170, 0, 0, 1);
    opacity: 0.85;
    border-radius: 5px;
  }
}

@keyframes shine {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes x-spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(1080deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
