@use "./Menu/Menu.scss";
button:hover {
  cursor: pointer;
}
button {
  font-family: monospace;
}
.decor-x {
  animation: x-spin 17s infinite;
  font-size: 0.33rem;
  // height: 2rem;
  // width: 0.67rem;
  margin: 0 1rem;
  text-decoration: line-through;
}
.score-board {
  display: flex;
  width: 97%;
  justify-content: space-between;
  align-items: center;
  margin: 1rem auto;
  .score-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: rgba(15, 15, 15, 0.9);
    color: white;
    border-radius: 3px;
    pointer-events: none;
    .score-value {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.33rem;
      margin-top: 1rem;
    }
    .score-dongles {
      display: flex;
      margin: 0.5rem auto 1rem;
      opacity: 0.8;
      .score-label {
        text-decoration: overline;
        font-size: 0.66rem;
      }
    }
  }
}
h3 {
  text-align: right;
  margin: 0 auto;
}
h3 + button {
  margin: 0 0 auto auto;
}
#side-left,
#side-right {
  margin: 0 auto;
  width: 100%;
}
.game-container {
  display: flex;
  flex-flow: column nowrap;
  height: 90%;
  width: 90%;
  justify-content: space-evenly;
  border: 3px solid rgba(10, 10, 10, 0.9);
  border-radius: 5px;

  .field-container {
    display: grid;
    height: 70%;
    grid-template-columns: 20% 60% 20%;
    .grid-container {
      width: 70%;
      height: 55%;
      display: grid;
      gap: 7px;
      margin: auto;
      padding: 3rem;
      border-radius: 0.33rem;
      box-shadow: inset 0px 5px 8px 3px rgba(30, 30, 30, 0.17);
      .cell-container {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        .shown,
        .hidden,
        .solved,
        #powerup.claimed,
        .animated {
          width: 90%;
          height: 90%;
          border-radius: 3px;
          transition: all 0.17s;
        }
        .shown,
        .solved,
        .claimed,
        .animated {
          pointer-events: none;
        }
        .hidden {
          background-color: rgba(15, 15, 15, 0.9);
          box-shadow: 0 0 8px 4px rgba(30, 30, 30, 0.17);
          color: black;
        }
        .show:hover {
          box-shadow: 0 0 12px 1px rgba(30, 30, 30, 0.171);
          transform: scale(1.03);
        }
        .hidden:hover {
          transform: scale(0.97);
        }
        .solved {
          border: 2px solid green;
        }
        .claimed {
          box-shadow: 0 0 16px 1px rgba(255, 217, 0, 0.292);
          border: none;
        }
        .animated {
          animation: wrong 0.66s;
        }
        #powerup.claimed::after {
          // position: relative;
          box-shadow: 0 0 16px 4px rgba(255, 217, 0, 0.292);
          background: none;
          border-radius: 50%;
          border: 0px solid white;
          animation: shine 1s infinite;
        }
      }
    }
  }
  .proceed-container {
    display: flex;
    justify-content: center;
    .proceed {
      background: none;
      background-color: rgba(255, 255, 255, 0.674);
      color: rgba(35, 35, 35, 0.85);
      border-radius: 3px;

      padding: 0;
      border: 3px solid rgba(10, 10, 10, 0.9);
      transform: translateY(3px) scaleX(1.01);
      transition: all 0.33s;
      filter: saturate(0.9);
    }
    .proceed:hover {
      cursor: pointer;
      transform: translateY(5px) scaleX(1.01) scaleY(1.2);
      background-color: rgba(20, 20, 20, 0.815);
      color: white;
    }
    .proceed[disabled] {
      opacity: 0.33;
      pointer-events: none;
    }
  }
  #play-bar {
    height: 15%;
  }
}

@keyframes wrong {
  0% {
    border: 2px solid red;
  }
  20% {
    border: 2px solid black;
  }
  40% {
    border: 2px solid red;
  }
  60% {
    border: 2px solid black;
  }
  80% {
    border: 2px solid red;
  }
  100% {
    border: 2px solid black;
  }
}
@keyframes flip {
  0% {
    width: 100%;
  }
  50% {
    width: 0%;
  }
  100% {
    width: 100%;
    background-color: rgba(170, 0, 0, 1);
    opacity: 0.85;
    border-radius: 5px;
  }
}

@keyframes shine {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes x-spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(1080deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
