.intro {
  height: 66%;
  pointer-events: none;
  .Header {
    margin: auto;
    height: 66%;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    letter-spacing: 7px;
    .title {
      margin: 4rem auto 3rem;
      animation: fadeOver 2s ease-in-out 0.5s forwards;
      opacity: 0;
      filter: drop-shadow(0 8px 5px rgba(30, 30, 30, 0.6));
    }
    .subtitle {
      margin: 1rem auto;
      font-size: 0.88rem;
      font-weight: lighter;
      opacity: 0;
      animation: fadeOver 2s ease-in-out 1s forwards;
      letter-spacing: 5px;
    }
  }

  .instruction {
    text-align: center;

    opacity: 0;
    animation: fadeOver 3s ease-in-out 3s forwards;
    .instruction-name {
      border: 1px solid black;
      border-radius: 3px;
      padding: 3px 6px;
      letter-spacing: 1px;
      font-weight: bolder;
    }
  }
}
@keyframes fadeOver {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
